/* ------ basic style ----- */
* {
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}

.background {
  background-image: url("../images/banner/banner2.png");
  width: 1665px;
  height: 809px;
}

.header-info {
  direction: rtl;
  padding-left: 800px;
  padding-top: 200px;
  padding-right: 210px;
  padding-bottom: 400px;
}

.heading-style {
  font-weight: 700;
  font-size: 65px;
  margin-bottom: 10px;
}

.paragraph-style {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 18px;
}

.img {
  padding-left: 200px;
  padding-right: 200px;
}

.contact {
  background-color: #fd6e05;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
}

.banner {
  display: flex;
  padding-left: 50px;
  padding-top: 250px;
  padding-right: 30px;
  padding-bottom: 250px;
}

.banner-details {
  padding-top: 300px;
  padding-right: 300px;
}

.banner-heading {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 10px;
}

.banner-paragraph {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 10px;
}

.banner-list {
  color: #444343;
}

.future-plan {
  padding: 100px 200px;
}

.plan-title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 48px;
}

.icon {
  display: flex;
  justify-content: space-between;
}
